body{
	background:$light-grey;
}

img{
	display:block;
	height:auto;
	width:100%;
}

p{
    @include margin(15px null 15px null);	
}

input{
    border: 1px solid rgba(137, 137, 137, 0.5);
    border-radius: 0;
	color:$black;
	display:block;
	font-size: em(16);
    font-weight: 300;
    @include margin(null null 15px null);
    outline: 0 none;
    @include padding(12px);
	width:100%;
}

input[type="submit"]{
	background:$black;
	border: 1px solid $black;
	color:$white;
	font-weight:bold;
}

label{
	display:block;
}

strong{
	font-weight:700;
}

.arrow-list{
	li{
		@include padding(null null 10px null);
		&:before{
			content:'\f0da';
			font-family: FontAwesome;
			@include margin(null 10px null null);
		}
		a{
			color:$white;
			font-weight:bold;
			&:hover{
				text-decoration: none;
			}
			span{
				color:$light-grey;
				display: block;
				font-size: em(12);
				font-style: italic;
				@include margin(null null null 15px);
			}
		}
	}
}

.btn{
	background:$black;
    border-radius: 5px;
	color:$white;
    font-size: 14px;
	font-weight:bold;
    letter-spacing: 0.1em;
	@include margin(20px null null null);
    padding: 15px 60px;
    text-transform: uppercase;
    @include transition(all 0.5s ease-out);
	&:hover{
		box-shadow: 0 0.125rem 0.313rem rgba( 0, 0, 0, .3 );
		color:$white;
	}
}

.white{
	background:$white;
	color:$black;
	&:hover{
		color:$black;
	}
}