@import url(https://fonts.googleapis.com/css?family=Oswald:300,400,700);
@import url(https://fonts.googleapis.com/css?family=Droid+Serif:400,400i,700,700i|Oswald:300,400,700);

// Font Variables
$oswald: 'Oswald', sans-serif;
$droid: 'Droid Serif', serif;

body{
    color:$black;
	font-family:$droid;
	font-size: em(16);
	line-height: em(24);
}

h1, h2, h3, h4, h5, h6{
	font-family:$oswald;
	letter-spacing: 0.2em;
    @include margin(10px null 10px null);
    text-transform: uppercase;
}

h2, h3, h4, h5, h6{
	position: relative;
	@include margin(null null 30px null);
	&:before{
        content: '';
	    height: 3px;
	    background-color: $black;
	    width: 60px;
	    position: absolute;
	    left: 0;
	    bottom: -10px;
	}
}

h1{
	font-size: em(36);
	line-height: em(24);
}

h2{
	font-size: em(32);
	line-height: em(32);
}

h3{
	font-size: em(28);
	line-height: em(30);
}

h4{
	font-size: em(20);
	line-height: em(24);
}

h5{
	font-size: em(18);
	line-height: em(20);
}

h6{
	font-size: em(16);
	line-height: em(18);
}

a, figcaption{
	font-family:$oswald;
	@include transition(all 0.5s ease-out);
}

a:hover{
	text-decoration:none;
}


