footer{
	color:$light-grey;
	h4{
		&:before{
			background-color:$white;
		}
	}
	.footer-top{
		background: $grey;
		@include padding(20px null 20px null);
	}

	.footer-bottom{
		background: $black;
		@include padding(20px null 20px null);
		.social{
		position:absolute;
		right:0;
			li{
				display:inline-block;
				@include padding(null 10px null null);
				a{
					color:$white;
				}
			}
		}
	}
}