.gig-item{
	background:$white;
	margin-bottom:20px;
	float:left;
	width:100%;
	height:100px;
	.date{
		background:$black;
		height:100px;
		color:$white;
	}
	.meta{
		padding:40px;
	}
	.price{
		font-size: em(26);
		font-weight:bold;
		padding-top:40px;
	}
}