header{
	background:url('../images/band-2.jpg');
	height:100vh;
	background-size:cover;
	background-repeat:no-repeat;
	text-align:center;
	.cta{
		@include padding(10% 20% 35px 20%);
		h1{
			color:$white;
			text-shadow: 2px 2px 4px $black;
		}
		.btn{
			border:2px solid $white;
			background:rgba(0, 0, 0, 0.6);
			font-size: em(20);
			font-weight:400;
			@include margin(null 20px null null);

		}
	}
}