<section class="container band">
	<h1>{{ title }}</h1>
	<div class="row">
		<div class="col-md-12">
		<img src="images/band-shot-1.jpg" alt="">
			<p>{{ siteContent.bio[0].para1}}</p>
			<p>{{ siteContent.bio[0].para2}}</p>
			<p>{{ siteContent.bio[0].para3}}</p>
		</div>
		<div class="col-md-3" ng-repeat="member in siteContent.members">
			<figure>
				<a ng-href="/member/{{ member.id }}"><img src="images/{{ member.id }}.jpg" alt="{{ member.name }}"></a>
				<figcaption>{{ member.name }} <span>{{ member.instrument}}</span></figcaption>
			</figure>
		</div>
	</div>
</section>
