<footer>
	<section class="footer-top">
		<div class="container-fluid">
			<div class="col-md-3">
				<h4>Upcoming Gigs</h4>
				<ul class="arrow-list">
					<li><a href="#">15 October 2016 <span>O2 Arena, Dublin<span></a></li>
					<li><a href="#">15 October 2016 <span>O2 Arena, Dublin<span></a></li>
					<li><a href="#">15 October 2016 <span>O2 Arena, Dublin<span></a></li>
				</ul>
			</div>
			<div class="col-md-3">
				<h4>About</h4>
				<p>AeSect are a modern influenced metal band based in Dublin, Ireland. Formed in the Summer of 2011, it has been the band's aim to make an impression right from the beginning. After regular gigging, the band garnered a name for itself amongst the live metal scene in Dublin</p>
			</div>
			<div class="col-md-2">
				<h4>Newsletter</h4>
				<form action="#" name="newsletter">
					<input type="email" placeholder="Sign up to newsletter">
					<input type="submit">
				</form>
			</div>
			<div class="col-md-4">
				<h4>Instagram</h4>
			</div>
		</div>
	</section>
	<section class="footer-bottom">
		<div class="container-fluid">
			<div class="col-md-6">
				<strong>&copy;Copyright Band 2016</strong>
			</div>
			<div class="col-md-6">
				<ul class="social">
					<li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
					<li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
					<li><a href="#"><i class="fa fa-youtube-play" aria-hidden="true"></i></a></li>
					<li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
				</ul>
			</div>
		</div>
	</section>
</footer>