<footer>
	<section class="footer-top">
		<div class="container">
			<div class="col-md-3">
				<h4>Upcoming Gigs</h4>
				<ul class="arrow-list">
					<li><a href="#">15 October 2016 <span>O2 Arena, Dublin<span></a></li>
					<li><a href="#">15 October 2016 <span>O2 Arena, Dublin<span></a></li>
					<li><a href="#">15 October 2016 <span>O2 Arena, Dublin<span></a></li>
				</ul>
			</div>
			<div class="col-md-3">
				<h4>About</h4>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio deleniti sed, eligendi nisi, sint facilis unde delectus consectetur est expedita impedit, hic laboriosam, repudiandae odio at maxime rerum optio doloribus.</p>
			</div>
			<div class="col-md-3">
				<h4>Newsletter</h4>
				<form action="#" name="newsletter">
					<input type="email" placeholder="Sign up to newsletter">
					<input type="submit">
				</form>
			</div>
			<div class="col-md-3">
				<h4>Instagram</h4>
			</div>
		</div>
	</section>
	<section class="footer-bottom">
		<div class="container">
			<div class="col-md-6">
				<p><strong>&copy;Copyright Band 2016</strong></p>
			</div>
			<div class="col-md-6">
				<ul class="social">
					<li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
					<li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
					<li><a href="#"><i class="fa fa-youtube-play" aria-hidden="true"></i></a></li>
					<li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
				</ul>
			</div>
		</div>
	</section>
</footer>